@inject NavigationManager _nav

<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <Heading Size="HeadingSize.Is2">
            <Link To="/">
                Todo App
            </Link>
        </Heading>
    </Column>
    <Column ColumnSize="ColumnSize.Is6" TextAlignment="TextAlignment.End">
        <Button Color="Color.Primary" @onclick=NavigateToCreateTodoPage>
            Create Todo
        </Button>
    </Column>
</Row>

@code {
    private void NavigateToCreateTodoPage()
    {
        _nav.NavigateTo("/create-todo");
    }
}